savedir:
  filepaths:
    - "C:\\Users\\Max Brown\\Documents\\Git\\kconfig"
    - "\\wsl$\\Ubuntu\\mnt\\c\\Users\\Max Brown\\Documents\\Git\\kconfig"
clusters:
  - name: "first-cluster"
    type: rke2
    ip: "192.168.1.119"
    username: "prod"
    password: "password"
  - name: "second-cluster"
    type: k3s
    ip: "192.168.1.119"
    username: "prod"
    password: "password"