savedir:
  filepaths:
    - "C:\\Users\\Max Brown\\Documents\\Git\\kconfig"
    - "C:\\Users\\Max Brown\\Documents\\tmp"
clusters:
  - name: "firsty-cluster"
    type: rke2
    ip: "192.168.1.119"
    username: "prod"
    password: "password"
  - name: "second-cluster"
    type: k3s
    ip: "192.168.1.119"
    username: "prod"
    password: "password"